h1{color:#1D2CDD;
text-align:center;
font-size:50pt;}

p{font-family:serif;
text-align:left;
line-height:30pt;
font-size:15pt;}

h3{font-style:italic;
font-size:25pt;
margin-left:1cm; text-align:justify;
line-height:10pt}

href{font-size:20pt;
font-weight:bolder;}

p{font-style:oblique;
font-family:serif;
text-align:center;}

header{ background: linear-gradient(90deg,rgba(255, 247, 0, 1) 0%, rgba(25, 0, 255, 1) 50%, rgba(255, 0, 0, 1) 100%);
text-align:center;
padding:20px;
border-bottom:2px solid;#307F81}

nav{margin-top:10px;}

nav ol{list-style:decimal;
display:inline-block;
padding:0;}

nav li {display:inline;
margin:0 15px;
font-size:15pt;}
nav a {text-decoration:none;
color:#DC4548;
font-weight:bold;
"font-size:20pt;}

a:hover{text-decoration: underline;}



