h1{color:#68D1EA;
text-align:center;
font-size:50pt;}

p{font-family:serif;
text-align:left;
line-height:30pt;
font-size:15pt;}

h3{font-style:italic;
font-size:25pt;
margin-left:1cm; text-align:justify;
line-height:10pt}

href{font-size:20pt;
font-weight:bolder;}



